@model Glaz.Server.Models.Orders.CreateOrder

@{
    ViewData["Title"] = "Создание заказа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>Поля заказа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetImage" class="control-label"></label>
                <input asp-for="TargetImage" class="form-control" type="file"/>
                <span asp-validation-for="TargetImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseFile" class="control-label"></label>
                <input asp-for="ResponseFile" class="form-control" type="file"/>
                <span asp-validation-for="ResponseFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно к списку ваших заказов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}